body{
  background-color: rgba(238, 186, 70, 0.1);
}


h2{
font-family: 'PT Mono', monospace;
}

div#methods{
  border: 0, 2em, 2em solid rgba(255, 0, 0, 0.5);
  font-weight: bolder;
  position: relative;
  display: inline;
  left: 35em;
  bottom: 88em;

}
ol{
  line-height: 3em;
}
article{
  width:40em;
  margin: 0 auto;
  max-width: 100%;
  line-height: normal;
  font-size: 18px;
}
