div {
    border: 2px none rgba(0, 0, 0, 0.1);
    max-width: fit-content;
}
body {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "PT Serif", serif;
    font-min-size: 14px;
}
h1 {
    background-color: lightskyblue;
    width: content-box;
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-style: oblique;
}

.date, .date1 {
             display: block;
             color: darkblue;
             font-size: larger;
}



/*font-family: 'Unlock', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;*/