#skills{
  position: relative;
}

#technology ul{
  display: block;
}

#photo{
  float: right;
  margin-top: 0em;
}

body{
  padding-left: 2em;
  background-color: bisque;
}

h2{
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: blue;
}


